@model IEnumerable<SystemZapisowy.Models.Group>
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Groups</h2>

@if (!Model.Any())
{
    <p>There are not any groups yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>GroupID</th>
                <th>Course</th>
                <th>Type</th>
                <th>Start time</th>
                <th>Day</th>
                <th>Maximum seats</th>
                <th>Occupied seats</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.GroupId</td>
                    <td>@group.Cours.Name</td>
                    <td>@group.Type</td>
                    <td>@group.StartTime</td>
                    <td>@group.Day.Day1</td>
                    <td>@group.MaximumSeats</td>
                    <td>@group.OccupiedSeats</td>
                    <td>@group.Teacher</td>
                </tr>
            }
        </tbody>
    </table>
}
