@model IEnumerable<SystemZapisowy.ViewModels.Course.CourseOverviewViewModel>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>

@if (!Model.Any())
{
    <p>There are not any courses yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Course</th>
                <th>Field of study</th>
                <th>Semester</th>
                @if (Session["Type"] == "Employee" || Session["Type"] == "Administrator")
                {
                    <th>Management tools</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var viewModel in Model)
            {
            <tr>
                <td>
                    @if (Session["Type"] == "Employee" || Session["Type"] == "Administrator")
                    {
                        @Html.ActionLink(viewModel.CourseName, "Edit", "Courses", new { id = viewModel.CourseId }, null)
                    }
                    else
                    {
                        @viewModel.CourseName
                    }
                </td>
                <td>@viewModel.FieldsOfStudy.FieldOfStudyName</td>
                <td>@viewModel.Semester.SemesterName</td>
                @if (Session["Type"] == "Employee" || Session["Type"] == "Administrator")
                {
                    // tbh nie wiem jak to ładnie zrobić bez ajaxa. Powinien alert wyskoczyć, że nie można usunać grupy jak są osoby w danej grupie.
                    if (viewModel.Groups.Count == 0)
                    {
                        <td>@Html.ActionLink("Delete", "Delete", "Courses", new { id = viewModel.CourseId}, new { onclick = "return confirm('Are you sure you want to delete this group?');" })</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Delete", "Index", "Courses", null, new { onclick = "return alert('Please make sure the course has no groups assigned.');" })</td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
}
